<!DOCTYPE html>
<html lang="en">
<%- include('partial/head')  %> 
<body>
    <!--Navigation Bar-->
    <%- include('partial/navbar') %>   
<!--Page 1-->
<div class="page-top">
    <img src="/assets/main-bg.jpg" class="img-fluid bg-image sticky-top" alt="Responsive image">
    <div class="container text-center text-header mt-5">
        <h1 class="mt-3 mb-5">PLAY TRADITIONAL GAME</h1>
        <p class="textbody mt-1 mb-2">Experience new traditional game play</p>
        <button type="submit" class="btn mt-5 py-3">
          <a class="btn mainbutton" href="/play?id=<%- user %> " role="button">PLAY NOW</a>
        </button>
        <div class="story position-relative">
          <h3 class="sub-text position-absolute start-50 translate-middle">THE STORY</h3>
          <img src="/assets/caret-down.svg" class="position-absolute start-50 translate-middle" alt="Responsive image">
        </div>
    </div>
</div>
<!--Page 2-->
<div class="page2">
  <img src="/assets/the-games-bg.jpg" class="img-fluid bg-image" alt="Responsive image">
  <div class="container container2 d-flex flex-column justify-content-start">
    <p class="sub-text mb-0 py-0">What's so special?</p>
    <p class="textbody mt-0 py-0">THE GAMES</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel container slide d-flex justify-content-end" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="game-feature">
  <img src="/assets/features.jpg" class="img-fluid bg-image" alt="Responsive image">
  <div class="container text-feature col-3">
    <h3>What's so special?</h3>
    <h1>FEATURES</h1>
  </div>
  <div class="line-features">
    <div class="timeline">
      <div class="container right container1">
        <div class="content">
          <h3>TRADITIONAL GAMES</h3>
          <p>If you miss your childhood, we provide many traditional games here</p>
        </div>
      </div>
      <div class="container right transparent mb-4">
        <div class="content">
          <h3>GAME SUIT</h3>
        </div>
      </div>
      <div class="container right transparent">
        <div class="content">
          <h3>TBD</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="syst-req">
  <img src="/assets/requirements.png" class="img-fluid bg-image" alt="Responsive image">
  <div class="container headtext mt-5">
    <p class="text-center">Can My Computer Run this game?</p>
    <h1 class="col-7">SYSTEM REQUIREMENTS</h1>
  </div>
  <div class="tabel-req">
    <ul class="container content col-8 d-inline-block">
      <li class="os d-inline-block col">
        <h3>OS:</h3>
        <p>Windows 7 64-bit only<br>(No OSX support at this time)</p>
      </li>
      <li class="processor d-inline-block col-6 ms-2">
        <h3>PROCESSOR:</h3>
        <p>Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
      </li>
      <li class="memory d-inline-block col-5">
        <h3>mEMORY:</h3>
        <p>4 GB RAM</p>
      </li>
      <li class="storage d-inline-block col-6">
        <h3>storage:</h3>
        <p>8 GB available space</p>
      </li>
      <li class="graphics d-inline-block">
        <h3>GRAPHICS:</h3>
        <p>NVIDIA GeForce GTX 660 2GB or<br>
          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
      </li>
    </ul>
  </div>
</div>
<div class="press-quotes">
  <img src="/assets/bg image 5.png" class="img-fluid bg-image" alt="Responsive image">
  <img src="/assets/top-score-bg.png" class="img-fluid img2" alt="Responsive image">
  <div class="press-text container d-inline-block col-4">
    <h1>TOP SCORES</h1>
    <p class="col-10 ms-2">This top score from various games provided on this platform</p>
    <button type="submit" class="btn mt-4 ms-1" href="#">
      <a class="mainbutton">see more</a>
    </button>
  </div>
  <div class="quotegroup">
    <div class="quote1">
      <img src="/assets/Rectangle 21.png" class="bg-image" alt="Responsive image">
      <div class="contents1 d-inline col-11">
        <div class="profile1"></div>
        <p class="name ps-5 ms-5 d-block mb-0">Evan Lahti</p>
        <p class="work ps-5 ms-5 d-block pt-0 pb-3">PC Gamer</p>
        <p class="quote col-10">"One of my gaming highlights of the year."</p>
        <p class="date">June 18, 2021</p>
        <img src="/assets/twitter.svg" class="twitter d-inline-block" alt="Responsive image">
      </div>
    </div>
    <div class="quote2">
      <img src="/assets/Rectangle 21.png" class="bg-image" alt="Responsive image">
      <div class="contents2 d-inline col-11">
        <div class="profile2"></div>
        <p class="name ps-5 ms-5 d-block mb-0">Jada Griffin</p>
        <p class="work ps-5 ms-5 d-block pt-0 pb-3">Nerdreactor</p>
        <p class="quote">"The next big thing in the world of streaming and survival games."</p>
        <p class="date">July 10, 2021</p>
        <img src="/assets/twitter.svg" class="sosmed" alt="Responsive image">
      </div>
    </div>
    <div class="quote3">
      <img src="/assets/Rectangle 21.png" class="bg-image" alt="Responsive image">
      <div class="contents3 d-inline col-11">
        <div class="profile2"></div>
        <p class="name ps-5 ms-5 d-block mb-0">Aaron Williams</p>
        <p class="work ps-5 ms-5 d-block pt-0 pb-3">Uproxx</p>
        <p class="quote">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
        <p class="date">December 24, 2018</p>
        <img src="/assets/twitter.svg" class="sosmed" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
<div class="subscribe">
  <div class="container row justify-content-center">
    <div class="pendant col-5">
      <div class="mask d-inline-block">
        <img src="/assets/image.png" class="rounded">
      </div>
    </div>
    <div class="content col d-block ms-2">
      <h3 class="col-4 mb-4">Want to stay in touch?</h3>
      <h1 class="col-5 mb-3">newsletter SUBSCRIBE </h1>
      <p class="col">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
      <div class="email-form">
        <form action="#">
          <div class="row mt-5">
            <div class="boxinput col-6">
              <input type="text" class="form-control input-lg py-3" name="email" placeholder="youremail@binar.co,id">
            </div>
            <div class="col-6">
              <button type="submit" class="form-control py-3" name="submit">
                <a class="mainbutton">Submit</a>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partial/footer')  %> 
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>