<footer>
    <div class="site-footer">
      <div class="row justify-content-end content pe-5">
        <div class="menu col-5 d-flex me-5 align-self-end p-0">
          <div class="col">
            MAIN
          </div>
          <div class="col">
            ABOUT
          </div>
          <div class="col-3">
            GAME FEATURES
          </div>
          <div class="col-5 px-2">
            SYSTEM REQUIREMENTS
          </div>
          <div class="col">
            QUOTES
          </div>
        </div>
        <div class="logo col-3 d-flex align-self-end ms-5">
          <div class="col">
            <img src="/assets/facebook.svg">
          </div>
          <div class="col">
            <img src="/assets/twitter.svg" alt="">
          </div>
          <div class="col">
            <img src="/assets/Vector.svg" alt="">
          </div>
          <div class="col">
            <img src="/assets/twitch.svg" alt="">
          </div>
        </div>
        <div class="white-bar bg-light"></div>
        <div class="d-flex bd-highlight mt-5">
          <div class="p-2 flex-grow-1 bd-highlight text-light text-14 ms-5 ps-5">&copy; 2018 Your Games, Inc. All Rights Reserved</div>
          <div class="p-2 bd-highlight text-12 text-light foot1">PRIVACY POLICY</div>
          <div class="p-2 bd-highlight text-12 text-light foot2">TERMS OF SERVICE</div>
          <div class="p-2 bd-highlight text-12 text-light me-4 foot2">CODE OF CONDUCT</div>
        </div>
      </div>
      <br>
    </div>
  </footer>