<li class="nav-item ">
    <a class="nav-link active" href="#">Welcome, <%= datauser.username %></a>
  </li>
  <li class="nav-item  ">
    <span class="nav-link active">
      <form action="/logout" method="post">
        <button class="btn btn-danger" type="submit">Logout</button>
      </form>
    </span>
  </li>