<nav class="navbar navbar-expand-xl navbar-dark fixed-top"> 
  <div class="container">
      <a class="navbar-brand col-2" href="#page-top">LOGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-4">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">HOME</a>
         </li>
         <li class="nav-item">
          <a class="nav-link active" href="#">WORK</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" href="#">CONTACT</a>
         </li>
         <li class="nav-item col-4">
          <a class="nav-link active" href="/dashboard?id=<%- user %>">DASHBOARD</a>
          
           
         </li>
        </ul>
          <ul class="navbar-nav col-9 justify-content-end"> 
            <% if (user !== null) { %>
              <%- include('greeting') %>
              <% } else { %>
              <%- include('logbutton') %>
              <% } %>
          </ul>
      </div>
  </div>
</nav>